.avatar {

  border: 2px solid #eee;
  &.small {
    width : 56px;
    height : 56px;
    border-radius: 28px;
  }

  &.medium {
    width : 96px;
    height : 96px;
    border-radius: 48px;
  }

  &.large {

  }
}
