.card-stack {
  position : fixed;
  overflow : hidden;
  top: 0px;
  height: 100%;
  width: 100%;
}

.card {
  position: absolute;
  top : 10%;
  left : 10%;
  width : 80%;
  height: 60%;
  img {
    width : 100%;
    height : 100%;
  }
}